@{
    ViewBag.Title = "Home Page";
}

@section Scripts{
<script>
    $(function () {
        $("#normal-form").validate(
            {
                onkeyup: function (element, event) {
                    $(element).valid();
                },
                onfocusout: function (element, event) {
                    $(element).valid();
                },
                rules: {
                    "email-normal-form": { required: true, },
                    "pwd-normal-form": { required: true, },
                },
                showErrors: function (errorMap, errorList) {
                    var stutas = '<span class="glyphicon glyphicon-ok form-control-feedback"></span>';
                    $.each(this.validElements(), function (index, element) {
                        var $element = $(element);
                        $element.data("title", "").removeClass("error").tooltip("destroy");
                        $element.after($(stutas));
                        $element.closest(".form-group").addClass("has-success has-feedback");
                    });

                    $.each(errorList, function (index, error) {
                        var $element = $(error.element);
                        $element.tooltip("destroy").data("title", error.message).addClass("error").tooltip();
                    });
                },
                messages: {
                    "email-normal-form": {
                        required: "必填项",
                    },
                    "pwd-normal-form": {
                        required: "必填项",
                    },

                },
                success: function (label) {
                }
            }
        );
    });
</script>
}

<h1>字体图标</h1>
<i class="fa fa-camera-retro" style="font-size:60px;color:red;"></i>
<h1>常规表单</h1>
<form id="normal-form">
    <div class="form-group">
        <label>邮箱</label>
        <div class="form-inline">
            <input type="text" class="form-control" name="email-normal-form" />
            @*<span class="glyphicon glyphicon-ok form-control-feedback"></span>*@
        </div>
    </div>
    <div class="form-group">
        <label>密码</label>
        <input type="text" class="form-control" name="pwd-normal-form" />
    </div>
    <button type="submit" class="btn btn-primary">提交</button>
    <button type="reset" class="btn btn-warning">重置</button>
</form>


<h1>内联表单</h1>
<form class="form-inline" id="inner-form">
    <div class="form-group">
        <label>邮箱</label>
        <input type="text" class="form-control" name="email-inner-form" />
    </div>
    <div class="form-group">
        <label>密码</label>
        <input type="text" class="form-control" name="pwd-inner-form" />
    </div>
    <button type="submit" class="btn btn-primary">提交</button>
</form>

<h1>内联表单-Addon</h1>
<form class="form-inline" id="inner-form-addon">
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon">$</div>
            <input type="text" class="form-control" name="amount" />
            <div class="input-group-addon">.00</div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">提交</button>
</form>
